### Composer
composer.phar
composer.lock
vendor/

## IntelliJ project files
.idea
*.iml
out
gen

### phpunit
phpunit.xml
.phpunit.result.cache
build

### php-cs-fixer
/.php_cs
/.php_cs.cache

### codesniffer
.phpcs-cache
