language: php

php:
  - 7.1
  - 7.2
  - 7.3
  - 7.4

# This triggers builds to run on the new TravisCI infrastructure.
# See: http://docs.travis-ci.com/user/workers/container-based-infrastructure/
sudo: false

## Cache composer
cache:
  directories:
  - $HOME/.composer/cache

before_script:
  - travis_retry composer update --no-interaction --prefer-dist --no-suggest

script:
  - php vendor/bin/phpunit tests
  - php vendor/bin/phpcs src tests

after_success:
    - bash <(curl -s https://codecov.io/bash)
